<div class="card-profile" *ngIf="profile">
  <md-card>
    <md-card-header>
      <img md-card-avatar src="{{profile.avatar_url}}">
      <md-card-title>{{profile.name}}</md-card-title>
      <md-card-subtitle>{{profile.login}} </md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <ul>
        <li>Repositories: {{profile.public_repos}}
          <ul>
            <li *ngFor="let repo of repos">
              {{repo.name}}
            </li>
          </ul>
        </li>
          <li>Followers: {{profile.followers}}
          <ul>
            <li *ngFor="let follow of followers">
              {{follow.login}}
            </li>
          </ul>
        </li>
        <li>Following: {{profile.following}}
          <ul>
            <li *ngFor="let follow of following">
              {{follow.login}}
            </li>
          </ul>
        </li>
      </ul>
    </md-card-content>
    <md-card-actions>
      <button md-button class="md-icon-button md-accent" aria-label="Favorite" (click)="addToFavorites()">
        <md-icon svgSrc="/assets/moon.svg"></md-icon>
      </button>
      <a href="{{profile.html_url}}">View profile on GitHub</a>
    </md-card-actions>
  </md-card>
</div>