<div *ngIf="profile">
  <img src="{{profile.avatar_url}}" style="height:90px"/>
  <h2>{{profile.name}}</h2>
  <h2>{{profile.login}} <button (click)="addToFavorites()">Add to favorites</button></h2>
  <h3><a href="{{profile.html_url}}">View profile on GitHub</a></h3>
  <ul>
    <li>Repositories: {{profile.public_repos}}
      <ul>
        <li *ngFor="let repo of repos">
          {{repo.name}}
        </li>
      </ul>
    </li>
    <li>Followers: {{profile.followers}}
      <ul>
        <li *ngFor="let follow of followers">
          {{follow.login}}
        </li>
      </ul>
    </li>
    <li>Following: {{profile.following}}
      <ul>
        <li *ngFor="let follow of following">
          {{follow.login}}
        </li>
      </ul>
    </li>
  </ul>
</div>
